<div style="background: url('../../../assets/images/bkg/bkg5.jpg') center; height: 100vh">
  <div class="ui-grid">
    <div class="ui-g-offset-1 ui-grid-col-4 welcomePanel">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <h3 class="text-center" style="text-transform: uppercase">Добредојдовте!</h3>
          <h6 style="text-align: justify; padding: 1px 15px">Доколку сакате да разгледате или нарачате некои од нашите продукти, Ве молиме внесете го вашето корисничко
          име и лозинка.</h6>
        </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
              <div class="ui-grid-col-5" style="font-size: 15px;text-align: right;">
                Корисничко име:
              </div>
              <div class="ui-grid-col-7">
                <input pInputText type="text" formControlName="email"/>
              </div>
              <div class="ui-grid-row">
                <p-message severity="error" text="Ве молиме внесете го вашето корисничко име"
                           *ngIf="loginForm.controls['email'].errors && submited"></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-5" style="font-size: 15px;text-align: right;">
                Лозинка:
              </div>
              <div class="ui-grid-col-7">
                <input pInputText type="password" formControlName="password"/>
              </div>
              <div class="ui-grid-row">
                <p-message severity="error" text="Ве молиме внесете ја вашата лозинка"
                           *ngIf="loginForm.controls['password'].errors && submited"></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-7 offset-5">
                <button type="submit" class="float-right btn btnCustom btn-block">Најави се</button>
              </div>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>
