<div class="container">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 text-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="contact-div">
            <div class="col-lg-4 hover-div" >
              <div class="icon-div">
                <span class="fa fa-phone"></span>
              </div>
              <div class="view-details">
                <p style="margin: 0px;text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey">Тел.</p>
                <p style="margin: 0px;">+38975-213-231</p>
              </div>
            </div>
            <div class="col-lg-4 hover-div">
              <div class="icon-div">
                <span class="fa fa-envelope" style="padding-left: 12px"></span>
              </div>
              <div class="view-details">
                <p style="margin: 0px; padding-right: 20px;text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey">E-mail</p>
                <p style="margin: 0px; font-size: 16px">example@hotmail.com</p>
              </div>
            </div>
            <div class="col-lg-4 hover-div">
              <div class="icon-div">
                <span class="fa fa-clock-o"></span>
              </div>
              <div class="view-details">
                <p style="margin: 0px;text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey">Работно време</p>
                <p style="margin: 0px;">00:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <!--<p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" ></p-gmap>-->
        </div>
      </div>
    </div>
  </div>
</div>
