<div class="container background">
  <div class="ui-grid-row">
    <div class="ui-grid-col-6 offset-1 inputForm">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Име:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Презиме:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Корисничко име:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Емаил:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Адреса:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Град:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Држава:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Телефон:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6 offset-4">
          <button class="btn btn-secondary btn-block" style="margin-left: 20px">Зачувај</button>
        </div>
      </div>
    </div>
  </div>
</div>
