@font-face {
  font-family: 'OpenSans';
  src: url('/app/assets/fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/app/assets/fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/app/assets/fonts/OpenSans-Semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/app/assets/fonts/OpenSans-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
